@charset "UTF-8";
@font-face {
  font-family: NotoSansCJKsc-R;
  src: url("../font/NotoSansCJKsc/NotoSansCJKsc-Regular.otf");
}

@font-face {
  font-family: NotoSansCJKsc-M;
  src: url("../font/NotoSansCJKsc/NotoSansCJKsc-Medium.otf");
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Amalfi_Coast;
  src: local(Amalfi Coast), url("../font/amalfi_coast/Amalfi-Coast.ttf");
}

.H1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.H2 {
  font-size: 31px;
  line-height: 46px;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.H3 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.body-16 {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15em;
}

.body-14 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15em;
}

.caption {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15em;
}

.iScrollVerticalScrollbar {
  display: none !important;
}

body {
  font-family: NotoSansCJKsc-R;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  position: relative;
}

body ul {
  list-style: none;
}

p {
  margin: 0;
}

/* 自定義修改--SwiperSwiper---------------------- */
.mySwiper {
  max-width: 1200px !important;
  padding: 50px 0  !important;
}

@media (max-width: 375px) {
  .mySwiper {
    padding: 0 0 30px !important;
  }
}

.mySwiper2 {
  margin: 0 !important;
}

@media (max-width: 1024px) {
  .mySwiper2 {
    margin: auto !important;
  }
}

.swiper-button-next {
  background-color: #fff;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next:after {
  font-size: 25px !important;
  padding-top: 3px;
  padding-left: 1px;
  content: url(../img/arrow-prev.png) !important;
}

/* ------------------------ */
.waveLine1 {
  opacity: 0;
  stroke-width: 1;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.waveLine2 {
  opacity: 0;
  stroke-width: 1;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.startAnimateClose {
  position: absolute;
  width: 0;
  height: 100vh;
  background: black;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 35;
}

.startAnimateBg {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 22;
}

.startAnimateWrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 25;
}

.startAnimateWrap .sloganTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.startAnimateWrap .sloganTitle li {
  word-break: keep-all;
  opacity: 0;
}

.startAnimateWrap #waveLinePath {
  position: absolute;
  min-width: 1100px;
  width: 100vw;
  height: -webkit-fill-available;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.startAnimateBlock {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 30;
}

.startAnimateBlock .startball {
  position: absolute;
  top: -10%;
  left: 35%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
}

.startAnimateBlock #circlePath {
  width: 300px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.startAnimateBlock #circlePath .cls-1 {
  stroke-width: 1;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.startAnimateBlock .curcleBox {
  z-index: -1;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.startAnimateBlock .curcleBox img {
  opacity: 0.5;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 300%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.startAnimateBlock .startlogo {
  height: 100px;
  width: 188px;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.startAnimateBlock .startlogo .logoB1 {
  position: absolute;
  height: 98px;
  top: -100%;
  margin: auto;
}

.startAnimateBlock .startlogo .logoB2 {
  position: absolute;
  margin: auto;
  height: 98px;
  top: 1;
  opacity: 0;
}

.startAnimateBlock .startlogo .logoHidden {
  position: absolute;
  height: 110px;
  width: 190px;
  background: #fff;
  top: 100%;
}

.startAnimateBlock .startlogo .blowUp {
  opacity: 0;
  position: absolute;
  width: 182px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.startAnimateBlock .startlogo .blowUp span {
  width: 14px;
  height: 14px;
  background-color: black;
}

.startAnimateBlock .sloganTitle2 {
  position: relative;
  width: 288px;
  height: 30px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.startAnimateBlock .sloganTitle2 li {
  position: absolute;
  top: -100%;
  word-break: keep-all;
  opacity: 1;
}

#navMove {
  -webkit-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
  opacity: 0;
  background-color: #fff;
  color: #000;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 80px);
  height: 78px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

@media (max-width: 768px) {
  #navMove {
    height: 50px;
  }
}

#navMove .navLogo {
  width: 60px;
  height: 32.11px;
  margin: auto 0;
}

#navMove ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

@media (max-width: 768px) {
  #navMove ul {
    margin: 0;
  }
}

#navMove ul li {
  height: 36px;
  line-height: 42px;
  font-size: 16px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  #navMove ul li {
    line-height: 50px;
  }
}

#navMove ul .sc {
  border-bottom: 1px solid #000;
}

.hamburguer {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .hamburguer {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: 5px;
  }
}

.hamburguer:hover {
  cursor: pointer;
}

.hamburguer .hamSizes {
  width: 39.5px;
  height: 1.5px;
  background-color: #000;
}

@media (max-width: 375px) {
  .hamburguer .hamSizes {
    height: 3px;
  }
}

.menuWrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000e5;
  z-index: 20;
  display: none;
  opacity: 0;
}

menu {
  position: absolute;
  background-color: #8D887E;
  color: #fff;
  z-index: 21;
  width: 55%;
  height: 100vh;
  display: table;
  right: 0;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
  opacity: 0;
  margin: 0;
  padding: 0 100px;
}

@media (max-width: 1200px) {
  menu {
    padding: 0 50px;
  }
}

menu .closeList {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

menu .closeList img {
  width: 40px;
}

menu .list {
  display: table-cell;
  vertical-align: middle;
}

menu .list ul {
  margin: 0;
  padding: 0;
}

menu .list ul li {
  border-bottom: 1px solid #ffffff30;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  menu .list ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

menu .list ul li p {
  cursor: pointer;
}

@media (max-width: 1200px) {
  menu .list ul li p {
    font-size: 30px;
  }
}

menu .list ul li:last-child {
  border-bottom: none;
  line-height: 71px;
}

menu .list ul li:last-child img {
  cursor: pointer;
  margin-right: 30px;
}

#home {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("../img/shutterstock_1061360729 1.jpg");
  background-size: cover;
  background-position: center;
}

#home .homeTitle {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #fff;
  font-size: 8vmin;
  font-family: "Amalfi_Coast";
}

@media (max-width: 1200px) {
  #home .homeTitle {
    bottom: 5%;
    right: 3%;
  }
}

#home .top2Line {
  position: relative;
  padding: 30px;
  margin: auto;
}

@media (max-width: 896px) {
  #home .top2Line {
    padding: 0 30px;
  }
}

#home .top2Line .navStay {
  position: absolute;
  color: #fff;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  width: calc(100vw - 120px);
  height: 78px;
}

@media (max-width: 896px) {
  #home .top2Line .navStay {
    position: unset;
    margin-bottom: 30px;
    padding: 0;
    margin: auto;
    width: calc(100vw - 60px);
    margin-bottom: 5%;
  }
}

@media (max-width: 375px) {
  #home .top2Line .navStay {
    position: absolute;
    top: -130%;
  }
}

#home .top2Line .navStay .navLogo {
  width: 60px;
  height: 32.11px;
  margin: auto 0;
}

@media (max-width: 768px) {
  #home .top2Line .navStay .navLogo {
    width: 37px;
    height: auto;
  }
}

#home .top2Line .navStay ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

#home .top2Line .navStay ul li {
  height: 36px;
  line-height: 42px;
  font-size: 16px;
  margin-left: 30px;
}

#home .top2Line .navStay ul .sc {
  border-bottom: 1px solid #fff;
}

#home .top2Line .navStay .hamSizes {
  background-color: #fff;
}

#home .top2Line .top2LineSvg {
  margin: auto;
  display: block;
  max-width: 1440px;
}

#home .top2Line .top2LineSvg .line1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

#mainBrand {
  overflow: hidden;
  background-color: #0F0D0F;
  position: relative;
}

#mainBrand .bgcOpacity {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Pattern-Background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  top: 0;
  opacity: 0;
}

#mainBrand .mainBraText {
  margin: auto;
  color: #fff;
  padding: 30px;
}

#mainBrand .mainBraText p {
  max-width: 1200px;
  margin: auto;
  opacity: 0;
}

@media (max-width: 375px) {
  #mainBrand .mainBraText p {
    -webkit-transform: none;
            transform: none;
  }
}

#mainBrand .mainBraCarousel {
  -webkit-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
  opacity: 0;
  color: #fff;
}

#mainBrand .mainBraCarousel .mainImg {
  max-height: 228px;
}

@media (max-width: 576px) {
  #mainBrand .mainBraCarousel .mainImg {
    max-height: 150px;
  }
}

#abousUs {
  background-color: #0F0D0F;
}

#abousUs p {
  margin: 0;
}

#abousUs .aboUsBg {
  height: 100vh;
  background-image: url("../img/About-us-map.png");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  position: relative;
}

#abousUs .aboUsBg .aboUsText {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 30px;
  max-width: 375px;
  color: #fff;
}

@media (max-width: 375px) {
  #abousUs .aboUsBg .aboUsText {
    left: 0;
  }
}

#abousUs .aboUsBg .aboUsText p {
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  opacity: 0;
}

#companyInfo {
  background-color: #0F0D0F;
}

#companyInfo .comBoxTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 10%;
}

@media (max-width: 1400px) {
  #companyInfo .comBoxTop {
    margin-bottom: 2%;
  }
}

@media (max-width: 1024px) {
  #companyInfo .comBoxTop {
    margin-bottom: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
}

#companyInfo .comBoxTop #comLeftSide {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
  width: 25%;
  color: #fff;
}

@media (max-width: 1024px) {
  #companyInfo .comBoxTop #comLeftSide {
    margin: auto;
    margin-bottom: 1%;
    width: auto;
  }
}

@media (max-width: 768px) {
  #companyInfo .comBoxTop #comLeftSide {
    margin-bottom: 0;
    margin-top: 1%;
  }
}

#companyInfo .comBoxTop .comRightSide {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  width: 60%;
}

@media (max-width: 1024px) {
  #companyInfo .comBoxTop .comRightSide {
    margin: auto;
  }
}

@media (max-width: 375px) {
  #companyInfo .comBoxTop .comRightSide {
    width: 80%;
  }
}

#companyInfo .comBoxTop .comRightSide .linkBox {
  max-width: 668px;
  border-bottom: 1px solid #f3f3f320;
}

#companyInfo .comBoxTop .comRightSide .linkBox button {
  display: inline-block;
  color: #f3f3f320;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

#companyInfo .comBoxTop .comRightSide .linkBox button:first-child {
  color: #c9b38f;
  border-bottom: 2px solid #c9b38f;
}

#companyInfo .comBoxTop .comRightSide .linkBox button:nth-child(2) {
  margin-left: 30px;
}

#companyInfo .comBoxTop .comRightSide p {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 668px;
  color: #fff;
}

@media (max-width: 768px) {
  #companyInfo .comBoxTop .comRightSide p {
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  #companyInfo .comBoxTop .comRightSide p {
    margin-bottom: 10px;
  }
}

#companyInfo .comBoxBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  #companyInfo .comBoxBot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#companyInfo .comBoxBot .comOpenTime {
  width: 25%;
  padding-left: 0;
}

@media (max-width: 1024px) {
  #companyInfo .comBoxBot .comOpenTime {
    padding-left: 0;
    margin: auto;
    width: 60%;
  }
}

@media (max-width: 375px) {
  #companyInfo .comBoxBot .comOpenTime {
    width: 80%;
  }
}

#companyInfo .comBoxBot .comOpenTime li {
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
  opacity: 0;
}

#companyInfo .comBoxBot .comOpenTime .body-16 {
  color: #c9b38f;
}

#companyInfo .comBoxBot .comOpenTime .body-14 {
  color: #fff;
}

#companyInfo .comBoxBot .comOpenTime li:first-child {
  margin: 0;
}

#companyInfo .comBoxBot .comOpenTime li:nth-child(2) img {
  vertical-align: top;
  padding-top: 6px;
}

#companyInfo .comBoxBot .comOpenTime li:nth-child(2) p {
  max-width: 236px;
  margin: 0;
}

@media (max-width: 1024px) {
  #companyInfo .comBoxBot .comOpenTime li:nth-child(2) p {
    max-width: 100%;
  }
}

#companyInfo .comBoxBot .comOpenTime li:nth-child(4) p {
  margin: 0;
}

#companyInfo .comBoxBot .comOpenTime img {
  display: inline-block;
  margin-right: 10px;
}

#companyInfo .comBoxBot .comOpenTime p {
  display: inline-block;
}

#companyInfo .comBoxBot #mySwiper2 {
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  opacity: 0;
  width: 60%;
}

@media (max-width: 375px) {
  #companyInfo .comBoxBot #mySwiper2 {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  #companyInfo .comBoxBot #mySwiper2 {
    margin: auto;
  }
}

#companyInfo .comBoxBot #mySwiper2 .swiperImgSize {
  width: 100%;
}

#mobilesPage {
  font-size: 0;
}

#mobilesPage .mobileContent {
  padding: 10% 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 768px) {
  #mobilesPage .mobileContent {
    padding: 50px 30px 5%;
  }
}

#mobilesPage .mobileContent .goldLineBox {
  position: relative;
}

#mobilesPage .mobileContent .goldLineBox #goldballHook2 {
  opacity: 0;
}

#mobilesPage .mobileContent .goldLineBox #goldballHook1 {
  opacity: 0;
}

#mobilesPage .mobileContent .goldLineBox #iphont1 {
  max-width: 331px;
}

@media (max-width: 768px) {
  #mobilesPage .mobileContent .goldLineBox #iphont1 {
    max-width: 100%;
  }
}

#mobilesPage .mobileContent .goldLineBox #iphont2 {
  max-width: 331px;
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

@media (max-width: 768px) {
  #mobilesPage .mobileContent .goldLineBox #iphont2 {
    max-width: 100%;
  }
}

#mobilesPage .mobileContent .goldLineBox .goldline {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  opacity: 0;
  top: 6px;
  left: 64px;
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #c9b38f;
}

#mobilesPage .mobileContent .goldLineBox .circle1 {
  position: absolute;
  top: -49px;
  left: 9px;
  background-color: #c9b38f10;
  width: 111px;
  height: 111px;
  border-radius: 50%;
}

#mobilesPage .mobileContent .goldLineBox .circle2 {
  left: 26px;
  top: -33px;
  position: absolute;
  background-color: #c9b38f30;
  width: 79.05px;
  height: 79.05px;
  border-radius: 50%;
}

#mobilesPage .mobileContent .goldLineBox .circle3 {
  position: absolute;
  top: -15px;
  left: 44px;
  background-color: #c9b38f;
  width: 42.05px;
  height: 42.05px;
  border-radius: 50%;
}

#mobilesPage .mobileContent .appBox {
  margin-right: 15%;
  max-width: calc(321px + 10px);
  z-index: 5;
}

@media (max-width: 1024px) {
  #mobilesPage .mobileContent .appBox {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  #mobilesPage .mobileContent .appBox {
    max-width: 50%;
    margin-right: 0;
  }
}

#mobilesPage .mobileContent .appBox p {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  margin-left: 10px;
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .appBox p {
    margin-left: 0px;
    padding-right: 10px;
  }
}

#mobilesPage .mobileContent .appBox p:first-child {
  color: #967e4f;
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .appBox p:nth-child(2) {
    font-size: 20px;
  }
}

#mobilesPage .mobileContent .appBox p:nth-child(3) {
  margin-bottom: 108px;
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .appBox p:nth-child(3) {
    font-size: 14px;
  }
}

#mobilesPage .mobileContent .wechatBox {
  max-width: calc(302px + 30px);
  z-index: 5;
  margin-top: 15%;
}

@media (max-width: 768px) {
  #mobilesPage .mobileContent .wechatBox {
    max-width: 50%;
  }
}

#mobilesPage .mobileContent .wechatBox p {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  margin-left: 30px;
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .wechatBox p {
    margin-left: 0px;
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .wechatBox p:first-child {
    font-size: 20px;
  }
}

#mobilesPage .mobileContent .wechatBox p:nth-child(2) {
  margin-bottom: 108px;
}

@media (max-width: 576px) {
  #mobilesPage .mobileContent .wechatBox p:nth-child(2) {
    font-size: 14px;
  }
}

#mobilesPage .mobPageBanner {
  width: 100%;
}

#footerPage {
  background-color: #0F0D0F;
}

#footerPage .footerContent {
  color: #fff;
  width: 80%;
  margin: 12% auto;
}

@media (max-width: 576px) {
  #footerPage .footerContent {
    margin: 20% 30px;
    margin-bottom: 0;
  }
}

#footerPage .footerContent #footerTitle {
  opacity: 0.3;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

#footerPage .footerContent .context {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  #footerPage .footerContent .context {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footerPage .footerContent .context span p:first-child {
  color: #c9b38f;
}

#footerPage .footerContent .context span p:nth-child(1) {
  margin-top: 80px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  #footerPage .footerContent .context span p:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

#footerPage .footerContent .context span p:nth-child(2) {
  letter-spacing: 0.02em !important;
}

#footerPage .footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 896px) {
  #footerPage .footerBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

#footerPage .footerBottom ul {
  width: 33.33%;
  padding: 0;
}

@media (max-width: 896px) {
  #footerPage .footerBottom ul {
    width: 100%;
  }
}

#footerPage .footerBottom ul li {
  padding-left: 20px;
}

#footerPage .footerBottom ul li:first-child {
  padding-left: 0px;
}

#footerPage .footerBottom .linkPage {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footerPage .footerBottom .linkPage li {
  word-break: keep-all;
}

@media (max-width: 896px) {
  #footerPage .footerBottom .linkPage {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #footerPage .footerBottom .linkPage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#footerPage .footerBottom .linkMedia {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 896px) {
  #footerPage .footerBottom .linkMedia {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */